{% extends 'base.html' %}

{% block title %}My Matches{% endblock %}

{% block content %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">My matches</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable">
                    <thead>
                    <tr>
                        <th>Team A</th>
                        <th>Team B</th>
                        <th>From Date</th>
                        <th>To Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in matches %}
                        <tr>
                            <td>{{ obj.first_team }}</td>
                            <td>{{ obj.second_team }}</td>
                            <td>{{ obj.match_date_from }}</td>
                            <td>{{ obj.match_date_to }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <br>
    <!-- {% include "pagination.html" with page=page_obj %} -->
{% endblock %}