{% extends 'base.html' %}

{% block title %}My Matches{% endblock %}

{% block content %}

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Team A</th>
                <th>Team B</th>
                <th>Date</th>
                <th>Team A TD</th>
                <th>Team B TD</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in matches %}
                <tr>
                    <td>{{ obj.first_team }}</td>
                    <td>{{ obj.second_team }}</td>
                    <td>{{ obj.match_date }}</td>
                    <td>{{ obj.first_team_td }}</td>
                    <td>{{ obj.second_team_td }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    {% include "pagination.html" with page=page_obj %}
{% endblock %}