db.sqlite3
LpcManager/migrations/__pycache__/*.*
LpcManager/__pycache__/*.*
.idea/*.*
.idea/vcs.xml
lpc_py_manager/__pycache__/
venv/
accounts/__pycache__/
accounts/migrations/__pycache__/
roster/__pycache__/
roster/migrations/__pycache__/
teams/__pycache__/
match/__pycache__/
teams/migrations/__pycache__/
lpc_py_manager/secret_settings.py
log/
