{% extends 'base.html' %}

{% block title %}All Team detail{% endblock %}

{% block content %}

    <h1>Team {{ team.name }}</h1>
    <br>

    <h3>Details</h3>
    <br>

    <!-- FIRST ROW -->
    <div class="row">
        <!-- Treasury Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Treasury
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ team.treasury }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Value Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Value
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ team.value }} TV</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Current Value Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Current Value
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ team.current_team_value }} TV</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Current Value Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Dedicated Fan
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ dedicated_fan }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  SECOND ROW -->
    <div class="row">
        <!-- Cheerleader Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Cheerleader
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ team.cheerleader }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Re roll Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                RE ROLL
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ team.re_roll }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Assistant coach Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Assistant coach
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ team.assistant_coach }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Apothecary Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Apothecary bought
                            </div>
                            {% if team.roster_team.apothecary == True %}
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    {% if team.apothecary %}
                                        YES
                                    {% else %}
                                        NO
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    Your team cannot have an apothecary
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <hr>
    <br>

    <!-- THIRD ROW: Players list -->
    <div class="row">
        <div class="col-xl-12 col-md-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h3 class="m-0 font-weight-bold text-primary">Players List</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable">
                            <thead>
                            <th>NUMBER</th>
                            <th>NAME</th>
                            <th>POSITION</th>
                            <TH>MA</TH>
                            <TH>ST</TH>
                            <TH>AG</TH>
                            <TH>PA</TH>
                            <TH>AV</TH>
                            <TH>SKILLS & TRAITS</TH>
                            <TH>Current Value</TH>
                            <TH>SPP</TH>
                            <TH>NIGGLING INJURY</TH>
                            </thead>
                            <tbody>
                            {% for player in team.players.all %}
                                {% if player.dead == False and player.missing_next_game == False and player.fired == False %}
                                    {% if player.is_journeyman and player.number_of_matches > 0 %}
                                        <tr style="background-color: lightcoral">
                                            {% else %}
                                        <tr>
                                    {% endif %}
                                <td>{{ player.player_number }}</td>
                                <td>{{ player.name }}</td>
                                <td>{{ player.position }}</td>
                                {% if player.movement_allowance == player.roster_player.movement_allowance %}
                                    <td>
                                        {% elif player.movement_allowance > player.roster_player.movement_allowance %}
                                    <td style="background-color: lightblue">
                                        {% else %}
                                    <td style="background-color: lightcoral">
                                {% endif %}
                                {{ player.movement_allowance }}
                                </td>
                                {% if player.strength == player.roster_player.strength %}
                                    <td>
                                        {% elif player.strength > player.roster_player.strength %}
                                    <td style="background-color: lightblue">
                                        {% else %}
                                    <td style="background-color: lightcoral">
                                {% endif %}
                                {{ player.strength }}
                                </td>
                                {% if player.agility == player.roster_player.agility %}
                                    <td>
                                        {% elif player.agility < player.roster_player.agility %}
                                    <td style="background-color: lightblue">
                                        {% else %}
                                    <td style="background-color: lightcoral">
                                {% endif %}
                                {{ player.agility }}+
                                </td>
                                {% if player.passing == player.roster_player.passing %}
                                    <td>
                                        {% elif player.passing < player.roster_player.passing %}
                                    <td style="background-color: lightblue">
                                        {% else %}
                                    <td style="background-color: lightcoral">
                                {% endif %}
                                {% if player.passing != 0 %}
                                    {{ player.passing }}+
                                {% else %}
                                    -
                                {% endif %}
                                </td>
                                {% if player.armor_value == player.roster_player.armor_value %}
                                    <td>
                                        {% elif player.armor_value < player.roster_player.armor_value %}
                                    <td style="background-color: lightblue">
                                        {% else %}
                                    <td style="background-color: lightcoral">
                                {% endif %}
                                {{ player.armor_value }}+
                                </td>
                                <td>
                                    {% for skill in player.base_skills.all %}
                                        {{ skill.name }},
                                    {% endfor %}
                                    {% for trait in player.traits.all %}
                                        {{ trait.name }},
                                    {% endfor %}
                                    {% for skill in player.extra_skills.all %}
                                        {{ skill.name }},
                                    {% endfor %}
                                </td>
                                <td>{{ player.value }}</td>
                                <td>{{ player.spp }}</td>
                                <td>{{ player.niggling_injury }}</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Not available player List -->
    <div class="row">
        <div class="col-xl-12 col-md-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h3 class="m-0 font-weight-bold text-primary">Not available Players list</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable">
                            <thead>
                            <th>NUMBER</th>
                            <th>NAME</th>
                            <th>POSITION</th>
                            <TH>MA</TH>
                            <TH>ST</TH>
                            <TH>AG</TH>
                            <TH>PA</TH>
                            <TH>AV</TH>
                            <TH>SKILLS & TRAITS</TH>
                            <TH>Current Value</TH>
                            </thead>
                            <tbody>
                            {% for player in team.players.all %}
                                {% if player.missing_next_game == True %}
                                    <tr>
                                        <td>{{ player.player_number }}</td>
                                        <td>{{ player.name }}</td>
                                        <td>{{ player.position }}</td>
                                        <td>{{ player.movement_allowance }}</td>
                                        <td>{{ player.strength }}</td>
                                        <td>{{ player.agility }}+</td>
                                        <td>
                                            {% if player.passing != 0 %}
                                                {{ player.passing }}+
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>{{ player.armor_value }}+</td>
                                        <td>
                                            {% for skill in player.base_skills.all %}
                                                {{ skill.name }},
                                            {% endfor %}
                                            {% for trait in player.traits.all %}
                                                {{ trait.name }},
                                            {% endfor %}
                                        </td>
                                        <td>{{ player.value }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}