{% extends 'base.html' %}

{% block title %}All Team detail{% endblock %}

{% block content %}

    <h1>Team {{ team.name }}</h1>
    <br>

    <h3>Details</h3>
    <br>
    <ul>
        <li><b>Treasury</b>: {{ team.treasury }}</li>
        <li><b>Value</b>: {{ team.value }}</li>
        <li><b>Current Value</b>: {{ team.current_team_value }}</li>
        <li><b>Cheerleaders</b>: {{ team.cheerleader }}</li>
        <li><b>Re Roll</b>: {{ team.re_roll }}</li>
        <li><b>Assistant Coach</b>: {{ team.assistant_coach }}</li>
        <li>
            <b>Apothecary</b>:
            {% if team.apothecary %}
                YES
            {% else %}
                NO
            {% endif %}
        </li>
        <li><b>Dedicated fan</b>: {{ dedicated_fan }}</li>
    </ul>
    <br>
    <hr>

    <h3>Players list</h3>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <th>NUMBER</th>
            <th>NAME</th>
            <th>POSITION</th>
            <TH>MA</TH>
            <TH>ST</TH>
            <TH>AG</TH>
            <TH>PA</TH>
            <TH>AV</TH>
            <TH>SKILLS & TRAITS</TH>
            <TH>Current Value</TH>
            <TH>SPP</TH>
            </thead>
            <tbody>
            {% for player in team.players.all %}
                {% if player.dead == False and player.missing_next_game == False and player.fired == False %}
                    <tr>
                        <td>{{ player.player_number }}</td>
                        <td>{{ player.name }}</td>
                        <td>{{ player.position }}</td>
                        <td>{{ player.movement_allowance }}</td>
                        <td>{{ player.strength }}</td>
                        <td>{{ player.agility }}</td>
                        <td>{{ player.passing }}</td>
                        <td>{{ player.armor_value }}</td>
                        <td>
                            {% for skill in player.base_skills.all %}
                                {{ skill.name }},
                            {% endfor %}
                            {% for trait in player.traits.all %}
                                {{ trait.name }},
                            {% endfor %}
                        </td>
                        <td>{{ player.value }}</td>
                        <td>{{ player.spp }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}