{% extends 'base.html' %}

{% block title %}All Teams{% endblock %}

{% block content %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">All teams</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                        <th>Current Value</th>
                        <th>Treasury</th>
                        <th>Coach</th>
                        <TH>Points</TH>
                        <th>Roster</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in teams %}
                        <tr>
                            <td>
                        <span><a href="{{ obj.get_absolute_url }}">
                            {{ obj.name }}
                        </a></span>
                            </td>
                            <td>{{ obj.value }}</td>
                            <td>{{ obj.current_team_value }}</td>
                            <td>{{ obj.treasury }}</td>
                            <td>{{ obj.coach.username }}</td>
                            <td> {{ obj.league_points }}</td>
                            <td>{{ obj.roster_team.name }}</td>
                            <td>{{ obj.status }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <br>
    <!-- {% include "pagination.html" with page=page_obj %} -->
{% endblock %}