{% extends 'base.html' %}

{% load custom_tags %}

{% block title %}Player details{% endblock %}

{% block content %}

    <h1>#{{ player.player_number }} {{ player.name }}</h1>
    <br>
    <hr>
    <h3>Statistics</h3>
    <!-- THIRD ROW: Players list -->
    <div class="row">
        <div class="col-xl-12 col-md-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <th>POSITION</th>
                            <TH>MA</TH>
                            <TH>ST</TH>
                            <TH>AG</TH>
                            <TH>PA</TH>
                            <TH>AV</TH>
                            <TH>SKILLS & TRAITS</TH>
                            <TH>Current Value</TH>
                            <TH>SPP</TH>
                            <TH>STATUS</TH>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ player.position }}</td>
                                {% if player.movement_allowance == player.roster_player.movement_allowance %}
                                    <td>
                                        {% elif player.movement_allowance > player.roster_player.movement_allowance %}
                                    <td style="background-color: lightblue">
                                        {% else %}
                                    <td style="background-color: lightcoral">
                                {% endif %}
                                {{ player.movement_allowance }}
                                </td>
                                {% if player.strength == player.roster_player.strength %}
                                    <td>
                                        {% elif player.strength > player.roster_player.strength %}
                                    <td style="background-color: lightblue">
                                        {% else %}
                                    <td style="background-color: lightcoral">
                                {% endif %}
                                {{ player.strength }}
                                </td>
                                {% if player.agility == player.roster_player.agility %}
                                    <td>
                                        {% elif player.agility < player.roster_player.agility %}
                                    <td style="background-color: lightblue">
                                        {% else %}
                                    <td style="background-color: lightcoral">
                                {% endif %}
                                {{ player.agility }}+
                                </td>
                                {% if player.passing == player.roster_player.passing %}
                                    <td>
                                        {% elif player.passing < player.roster_player.passing %}
                                    <td style="background-color: lightblue">
                                        {% else %}
                                    <td style="background-color: lightcoral">
                                {% endif %}
                                {% if player.passing != 0 %}
                                    {{ player.passing }}+
                                {% else %}
                                    -
                                {% endif %}
                                </td>
                                {% if player.armor_value == player.roster_player.armor_value %}
                                    <td>
                                        {% elif player.armor_value > player.roster_player.armor_value %}
                                    <td style="background-color: lightblue">
                                        {% else %}
                                    <td style="background-color: lightcoral">
                                {% endif %}
                                {{ player.armor_value }}+
                                </td>
                                <td>
                                    {% for skill in player.base_skills.all %}
                                        {{ skill.name }},
                                    {% endfor %}
                                    {% for trait in player.traits.all %}
                                        {{ trait.name }},
                                    {% endfor %}
                                </td>
                                <td>{{ player.value }}</td>
                                <td>{{ player.spp }}</td>
                                <td>
                                    {% if player.dead %}
                                        DEAD!!
                                    {% elif player.missing_next_game %}
                                        MNG
                                    {% else %}
                                        --
                                    {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <hr>
    <h1>Change Name or number</h1>
    <br>
    <ul>
        <form method="post" action="{% url 'teams:change_player_name_number' %}">
            {% csrf_token %}
            <input type="hidden" name="playerId" id="playerId" value="{{ player.id }}"/>
            <input type="hidden" name="teamId" id="teamId" value="{{ player.team_id }}"/>
            <li>
                Change number -
                <select name="new_number" id="new_number">
                    <option value="--" selected>--</option>
                    {% for i in range %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </li>
            <br>
            <li>
                Change name -
                <input type="text" name="new_name" id="new_name"/>
                -
                <input type="submit" class="btn btn-primary">
            </li>
        </form>
    </ul>
    <br>

    <a href="{{ team_detail }}" class="btn btn-primary">BACK TO TEAM</a>

{% endblock %}