{% extends 'base.html' %}

{% block title %}All Teams{% endblock %}

{% block content %}

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Treasury</th>
                <th>Status</th>
                <th>Roster</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in teams %}
                <tr>
                    <td>
                        <span><a href="{{ obj.get_my_team_detail_absolute_url }}">
                            {{ obj.name }}
                        </a></span>
                    </td>
                    <td>{{ obj.value }}</td>
                    <td>{{ obj.treasury }}</td>
                    <td>{{ obj.status }}</td>
                    <td>{{ obj.roster_team.name }}</td>
                    <td>
                        {% if obj.status == 'CREATED' %}
                            <a href="{{ obj.get_prepare_absolute_url }}">PREPARE</a>
                            <a href="{{ obj.get_dismiss_absolute_url }}">DISMISS</a>
                        {% elif obj.status == 'READY' %}
                            <a href="{{ obj.get_dismiss_absolute_url }}">DISMISS</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <br>

    <a href="{% url 'teams:create_my_team' %}" class="nav-link">Create new Team</a>

    <br>
    {% include "pagination.html" with page=page_obj %}

{% endblock %}