{% extends 'base.html' %}

{% block title %}All Teams{% endblock %}

{% block content %}


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">My Teams</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                        <th>Treasury</th>
                        <th>Status</th>
                        <th>Roster</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in teams %}
                        <tr>
                            <td>
                                {% if obj.status == 'READY' %}
                                    <span><a href="{% url 'teams:my_team_detail' obj.id %}">
                            {{ obj.name }}
                        </a></span>
                                {% else %}
                                    <span>{{ obj.name }}</span>
                                {% endif %}
                            </td>
                            <td>{{ obj.value }}</td>
                            <td>{{ obj.treasury }}</td>
                            <td>{{ obj.status }}</td>
                            <td>{{ obj.roster_team.name }}</td>
                            <td>
                                {% if obj.status == 'CREATED' %}
                                    <a href="{% url 'teams:prepare_team' obj.id %}">PREPARE</a>
                                    <a href="{% url 'teams:dismiss_team' obj.id %}">RETIRE</a>
                                {% elif obj.status == 'READY' %}
                                    <a href="{% url 'teams:dismiss_team' obj.id %}">RETIRE</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <br>

    <a href="{% url 'teams:create_my_team' %}" class="nav-link">Create new Team</a>

    <br>
    <!-- {% include "pagination.html" with page=page_obj %} -->

{% endblock %}