{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}All Team detail{% endblock %}

{% block content %}

    <h1>Prepare team - <b>{{ team.name }}</b> -- Treasury <b>{{ team.treasury }}</b></h1>
    <br>

    <form method="post" novalidate>
        {% csrf_token %}

        {% for field in form %}
            <div>
                {{ field | as_crispy_field }}
            </div>

        {% endfor %}
        <br>

        <button type="submit" class="btn btn-primary">Save</button>
        <a href = '{{ team.get_ready_absolute_url }}' class="btn btn-primary">Ready the team</a>

    </form>

{% endblock %}